/* Gobal Styles */ 
body {
    overflow-x: hidden;  
}

/* Hero Section Styles */  
#hero_section {
    min-height: 500px;
}

#hero_section_button {
    max-width: 200px;
}

/* Menu Section Styles */ 
.menu_card {
    min-height: 275px;
}

/* Order Section */
#order_section {
    background-color: #f8f8ff;
}

input {
    max-width: 200px;
}

textarea {
    min-width: 450px;
}

#form_container {
    min-width: 500px;
}

#order_item {
    min-width: 450px;
}

/* Summary Section */ 
table, td, tr, th {
    border: 1px solid #000;
}